df-messenger { 
	--df-messenger-bot-message: #808080;
	--df-messenger-button-titlebar-color: #3890b5;
	--df-messenger-chat-background-color: #f1f1f1;
	--df-messenger-font-color: white;
	--df-messenger-send-icon: #3890b5;
	--df-messenger-user-message: #3890b5;
}
